#footer
  div.container.text-center
    p.muted.credit
      | Built by 
      a(href="http://www.alexsmith.org") Alex Smith
      a(href="https://twitter.com/alexjs")  (@alexjs)
      | , with source available on 
      a(href="http://github.com/alexjs/eurohgod") github
      br
      | Inspired by 
      a(href="https://twitter.com/thayer") @Thayer 
      | and her awesome Eurovision 
      a(href="http://www.flickr.com/photos/thayer18/495975661/") drinking rules
