if globalActionsList.length
  each globalAction in globalActionsList
    div.tag.text-center.span3
      a(href="#statsModal", rel="#{globalAction.total}", data-toggle="modal") #{rules[globalAction._id-1].name}
else
  p No one's registered a drink in 2m. Charge your glasses!
