alert("loaded")
modal-header
  button(type="button", class="close", data-dismiss="modal") &times;
  h3.text-center Total Drinky Stats!
modal-body
  each globalAction in globalActionsList
    ul.stats
      li #{rules[globalAction._id-1].name} - #{globalAction.total}
modal-footer