.hero-unit {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
}

.alert { 
  margin-bottom: 10px !important;
}

.alert h4 {
    text-transform: uppercase;
}


@media (max-width: 767px) {
  .hero-unit h1 {
    font-size: 30px;
  }
  .p.subtitle {
    font-size: 15px;
    margin-bottom: 0px;
  }
}