.hero-unit {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
}

.alert { 
  margin-bottom: 10px !important;
}

.alert h4 {
    text-transform: uppercase;
}


@media (max-width: 767px) {

  .page.header  {
    height: 60px;
  }
  .hero-unit h1 {
    font-size: ;
  }
  .lead {
    font-size: small;
  }
}